@use '../../../../utils/css/abstracts/index' as *;

.modalTitle {
  font-weight: $font-weight-semibold !important;
}

.critical {
  color: var(--color-error) !important;
}

.form {
  padding: $spacing-sm 0;
}