@use '../abstracts/index' as abstracts;

.button,
button {
  padding: abstracts.spacing(3) abstracts.spacing(4);
  border-radius: abstracts.radius(md);
  border: 1px solid var(--color-border);
  background: var(--color-primary);
  color: white;
}
