@use '../../../utils/css/abstracts/index' as *;

.publicLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  background-image: var(--app-background-art);
}