@use '../../../../utils/css/abstracts/index' as *;

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  @include respond-to(md) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.searchInput {
  flex: 1;
  min-width: 220px;
}

.filterItem {
  min-width: 140px;
}

.filtersEnd {
  margin-left: auto;
}
